/*------------------------------------*\
    導覽列設定
/*------------------------------------*\
    
.navbar
    background-color: $color-primary

    // 導覽列整體架構
    &-item
        +flexGrid(space-between)

    // 導覽列表
    &-menu
        +flexGrid

        &-item
            +flexGrid(space-between)
            margin-right: 64px
            &:last-child
                margin-right: 0

        &-link
            +fontSize(20px, 30px)
            color: $color-white
            transition: .2s
            display: inline-block
            padding: 8px 0
            @extend .link-border-animation

    // LOGO 圖片
    &-img
        padding: 16px